$white-transparent: rgba(255, 255, 255, 0.9);
$off-white: #fafafa;
$darkest-grey-transparent: rgba(32, 32, 32, 0.9);
$grey-text: rgba(127, 127, 127, 1);
$dark-grey-text: rgba(64, 64, 64, 1);
$light-text: rgba(240, 240, 240, 1);
$lighter-grey: #f0f0f0;
$light-grey: lightgrey;
$dark-grey: rgba(128, 128, 128, 1);
$darker-grey: rgba(64, 64, 64, 1);
$darkest-grey: rgba(32, 32, 32, 1);
$bright-blue: #2f80ed;
$light-blue: #6fc0fd;
$semi-bold: 600;
$duck-yellow: #ffc000;
